* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(253, 255, 254);
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(122, 116, 116);
}
body {
  color: #a4acc4;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
span {
  color: darkred;
}
@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}
